@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
<h2 style="color:#fff;">Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-login">Register</button>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    /* General styling for the page */
    body {
        font-family: Arial, sans-serif;
        background-color: #051c42;
        margin: 0;
        padding: 0;
    }

    h1, h2, h3 {
        text-align: center;
        color: #343a40;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 2rem;
    }

    /* Styling for the form */
    form {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-floating {
        margin-bottom: 1rem;
    }

        .form-floating label {
            font-size: 0.9rem;
            color: #6c757d;
        }

    .form-control {
        border: 1px solid #ced4da;
        padding: 1rem;
        border-radius: 4px;
    }

    .text-danger {
        font-size: 0.9rem;
    }

    /* Styling for buttons */
    .btn-login {
        background-color: #8c0307;
        border-color: #ffffff;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 4px;
        width: 100%;
        color: #fff;
    }

        .btn-login:hover {
            background-color: #ffffff;
            border-color: #8c0307;
            color: #8c0307;
        }

    /* Links */
    a {
        color: #b8895e;
    }

        a:hover {
            color: #0056b3;
            text-decoration: none;
        }

    /* Additional styling for sections and layout */
    .section {
        margin-bottom: 2rem;
    }

    hr {
        border: 0;
        border-top: 1px solid #dee2e6;
        margin: 1.5rem 0;
    }

</style>